/* To scale an image by keeping its aspect ratio
try this
img {
  max-width:100%;
  height:auto;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;

}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    cursor: pointer;
    border: none;
    transition: background 0.5s ease-in-out;
}

button:hover {
    background: #233244;
}

p,
button,
label,
input,
li {
    font-size: 2rem;
}

h1 {
    font-size: 2.6rem;

}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h3,
h5 {
    font-size: 2.8rem;
}

/* Nav Section with Hero */
.main-head {
    background: #131c27;
    color: white;
}

/* Dont use height instead use min-height along with padding or use them seperately to avoid overflow*/
nav {
    min-height: 10vh;
    padding: 2rem;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;

}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* both ul and logo h2 takes half space after using flex */
#logo {
    flex: 1 1 40rem;
    font-family: 'pattaya', sans-serif;
    font-weight: 400;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("img/landing-page.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero h3 {
    padding: 5rem;
}

#location {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("img/new-york-page.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    /* if cloud overflow the location section it will be hidden */
    overflow: hidden;
}

.location-head {
    width: 90%;
    margin: auto;
}

.location-head h2 {
    font-size: 3rem;
    padding: 2rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    /* text-decoration-thickness has less browser support check current status */
}

.location-head h3 {
    font-size: 2.5rem;
    padding: 1.5rem 0rem;
    font-weight: 600;

    /* textgradient is achieved using the below 3 styles */
    background: linear-gradient(#131c27, #663b34);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cloud {
    position: absolute;
    right: 0%;
    top: 0%;

    /* scale image by maintaining aspect ratio max-width and height comes to rescue*/
    max-width: 50%;
    height: auto;
}

.moving-cloud-1 {
    animation: cloudAnimate 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    top: 10%;
    z-index: -1;
    opacity: 0.5;
    animation: cloudAnimate 3.5s infinite alternate ease-in-out;
}

/* translateX - -10(left),10(right)
translateY - -10(top),10(bottom) */
@keyframes cloudAnimate {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

/* Benefits Section */
.benefits-head {
    min-height: 30vh;
    background: #343c44;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}



.cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    /* If i dont add this it will stretch the card height and minheight of 40vh on card doesn't work */
    align-items: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    font-size: 2rem;
    flex: 1 1 20rem;
    min-height: 40rem;
    margin: 2rem 4rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img {
    width: 25%;
    margin: 2rem;
}

.card-icon {
    background: #233244;
}

.card h4,
p {
    padding: 1rem;
}

/* Contact section */

.contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("img/contact-mountain.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.form-wrapper {
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    color: white;
    border-radius: 3rem;
}

.form-wrapper header {
    text-align: center;
    padding: 3rem;
}

.name-form,
.email-form {
    text-align: center;
    padding: 4rem;
}

.form-wrapper label {
    margin: 0rem 3rem;
}

.form-wrapper button {
    margin-top: 7rem;
    width: 100%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.form-wrapper input {
    padding: 1rem 3rem;
}

footer {
    background: #233244;
    color: white;
}

.footer-wrapper {
    display: flex;
    min-height: 10vh;
    align-items: center;
    padding: 2rem;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

footer h5 {
    flex: 1 1 40rem;
}

footer ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}




@media screen and (max-width:932px) {
    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 2rem;
    }

    /* list squashes in low width so added margin */
    ul li {
        margin: 5px;
    }

    .cloud {
        height: 40rem;
    }

    .form-wrapper {
        width: 100%;
    }

    footer {
        text-align: center;
    }



}